@model IEnumerable<Product>

@{
	ViewData["Title"] = "Produkty";
}
<div class="row">
	@foreach(var item in Model)
	{
		<div class="col-4">
			<img src="/media/products/@item.Image" class="img-fluid"  height="150" width="150"/>
			<h4>@item.Name</h4>
			<div>
				@Html.Raw(item.Description)
			</div>
			<p>
				@item.Price.ToString("C2")
			</p>
			<p>
				<a class="btn btn-dark" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id">Dodaj do koszyka</a>
			</p>
		</div>
	}
</div>