@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="btn btn-dark" asp-area="" asp-controller="User" asp-action="Index">Twoje zamówienia</a>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="btn btn-dark" asp-area="" asp-controller="Admin" asp-action="Index">Panel Admina</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-dark" asp-area="" asp-controller="Worker" asp-action="Index">Zamówienia</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Dane Administratora</a>
            </li>
        }
        else
        {
            if (User.IsInRole("Employee"))
            {
                <li class="nav-item">
                    <a class="btn btn-dark" asp-area="" asp-controller="Worker" asp-action="Index">Zamówienia</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Dane pracownika</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Witaj @User.Identity?.Name!</a>
                </li>
            }
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-dark">Wyloguj</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Register">Zarejestruj</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
        </li>
    }
</ul>
