@model SmallCartViewModel

@if(Model!=null)
{
	<a class="btn btn-primary mb-2" asp-controller="Cart" asp-action="Index"><img src="/media/ikony/koszyk.png" width="30" height="30" /></a>
}
else
{
	<a class="btn btn-primary mb-2" asp-controller="Cart" asp-action="Index"><img src="/media/ikony/koszyk.png" width="30" height="30" /></a>
}