@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PIZZERIA</h1>
    <img class=" img-fluid rounded" src="~/media/pizzeria/pizzeria.jpg" /><br />
    <h3>Pizzeria autorstwa Marcina Koterby.</h3>
</div>
