@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witam</h1>
    <img src="~/media/pizzeria/pizzeria.jpg"/>
    <h3>Pizzeria autorstwa Marcina Koterby.</h3>
</div>
