@model IEnumerable<Category>

	<ol>
		@foreach(var item in Model)
		{
			<li>
			<a class="btn btn-primary shadow" asp-controller="Products" asp-action="Index" asp-route-categorySlug="@item.Slug">@item.Name</a>
			</li>
		}
	</ol>